<aside class="aside  typeset  aside--right">
  <section class="section  section--related-posts">
    <%= image_tag "Hofakker-logo-vs-RGB.png", alt: "School de Hofakker logo" %>
    <% if @othernews.empty? %>
      Er zijn momenteel geen andere nieuwsberichten van de Hofakker
    <% else %>
      <% @othernews.each do |n| %>
        <ul class="list  list--posts">
          <li class="item  item--post">
            <article class="article  article--post  typeset">
              <h4><%= link_to n.titel, nieuw_path(n.slug) %></h4>
              <small class="small  post-meta">
                &nbsp;&middot;&nbsp;<time datetime="2020-05-15T00:00:00+02:00" class="time"><%= n.published.strftime("%d %B %Y")  %></time>
              </small>
              <p><%= n.beschrijving %></p>
            </article>
          </li>
        <% end %>
        </ul>
      <% end %>
  </section>
</aside>
