<p>Beste <%= "#{@user.full_name}" %>,</p>
<p>Met veel plezier sturen we je een nieuwe Hofnieuws toe.</p>
<p>Met vriendelijke groet, School de Hofakker</p>
<br>
<p>Mocht u de Hofnieuws mailings niet langer willen ontvangen dan kunt u zich afmelden via deze link: <a href="<%= "#{root_url}nieuwsbrieven/#{@user.uuid}/afmelden" %>"><%= "#{root_url}nieuwsbrieven/#{@user.uuid}/afmelden" %></a> <p/>
<%= image_tag("Hofakker-logo-vs-RGB.png") %>
