<div class="feature" style="background-image: url(<%= asset_path 'banner_voorzijde_school.jpg' %>) ">
    <div class="container  typeset">
    </div>
</div>
<main class="main  container">
  <article class="article  article--page  content  typeset">
    <h1>Over de school</h1>
    <p>De Hofakker is een school waar kinderen met rode wangen en lichtjes in hun ogen uit school komen. De lessen worden zo ingericht dat het kind zichzelf kan verbinden met de wereld om hem of haar heen en tegelijkertijd het eigen levensdoel trouw kan blijven. Buiten zijn wordt afgewisseld met binnen zitten, om aan de natuurlijke behoefte van bewegen tegemoet te komen. Van buiten zijn en bewegen krijg je weer nieuwe energie!</p>
  </article>
  <%= render partial: '/common/aside' %>
</main>
