<div class="feature" style="background-image: url(<%= asset_path 'banner_contact.jpg' %>) ">
    <div class="container  typeset">
    </div>
</div>
<main class="main  container">
 <article class="article  article--page  content  typeset">
   <h1>Bedankt!</h1>
   <p>Wij proberen zo snel mogelijk op je bericht te reageren!</p>
  </article>
  <%= render partial: '/common/aside' %>
</main>
