<div class="feature" style="background-image: url(<%= asset_path 'banner_kring.jpg' %>) ">
    <div class="container  typeset">
    </div>
</div>
<main class="main  container">
  <article class="article  article--page  content  typeset">
    <h1><%= @kracht.title %></h1>
    <%= @renderer.render(@kracht.content).html_safe %>
  </article>
  <%= render partial: '/common/aside' %>
</main>
