<div class="feature" style="background-image: url(<%= asset_path 'banner_contact.jpg' %>) ">
    <div class="container  typeset">
    </div>
</div>
<main class="main  container">
 <article class="article  article--page  content  typeset">
   <h1>Contact</h1>
   <p>Geinspireerd door onze visie?</p>
   <p>Neem contact met ons op om kennis met ons te maken en te kijken of er een klik is tussen jou, je kind(eren) en onze school.</p>
   <%= render partial: '/common/contact' %>
   <h3 id="postadres">Postadres:</h3>
   <p>School De Hofakker<br />
   Veldwijkerweg 1<br />
   7251 HE<br />
   Vorden</p>
   <hr />
   <h3 id="veiligheid">Veiligheid</h3>
   <p>De Hofakker heeft, zoals ook gevraagd door de inspectie van het onderwijs, <a href="/assets/Meldcode-huiselijk-geweld.pdf">een meldcode voor huiselijk geweld en kindermishandeling</a></p>
  </article>
  <%= render partial: '/common/aside' %>
</main>
