<p>Hallo <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We nemen contact met je op om je te laten weten dat je email veranderd wordt naar <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We nemen contact met je op om je te laten weten dat je email veranderd is naar: <%= @resource.email %>.</p>
<% end %>
