<p>Hallo <%= @resource.email %>!</p>

<p>Je account is geblokkeerd vanwege een groot aantal mislukte inlog pogingen.</p>

<p>Klik op onderstaande link om deze blokkade ongedaan te maken:</p>

<p><%= link_to 'De-blokkeer mijn account', unlock_url(@resource, unlock_token: @token) %></p>
