<aside class="aside  typeset  aside--right">
  <section class="section  section--description">
    <%= image_tag "Hofakker-logo-vs-RGB.png", alt: "School de Hofakker logo" %>
    <p>Kleinschalig onderwijs dicht bij de natuur vanuit een antroposofisch mensbeeld</p>
    <nav class="nav  nav--social">
    <a href="https://twitter.com/hofakker">
      <svg width="16" height="16" class="icon  icon--twitter" role="img" alt="twitter"><title>twitter</title><use xlink:href="#twitter" fill="CurrentColor"></use></svg>
    </a>
    <a href="https://github.com/schooldehofakker/schooldehofakker.nl">
      <svg width="16" height="16" class="icon  icon--github" role="img" alt="github"><title>github</title><use xlink:href="#github" fill="CurrentColor"></use></svg>
    </a>
    <a href="https://www.facebook.com/schooldehofakker/">
      <svg width="16" height="16" class="icon  icon--facebook" role="img" alt="facebook"><title>facebook</title><use xlink:href="#facebook" fill="CurrentColor"></use></svg>
    </a>
    <a href="https://www.instagram.com/schooldehofakker/">
      <svg width="16" height="16" class="icon  icon--instagram" role="img" alt="instagram"><title>instagram</title><use xlink:href="#instagram" fill="CurrentColor"></use></svg>
    </a>
    <a href="https://schooldehofakker.nl">
      <svg width="16" height="16" class="icon  icon--link" role="img" alt="link"><title>link</title><use xlink:href="#link" fill="CurrentColor"></use></svg>
    </a>
    <a href="/feed.xml">
      <svg width="16" height="16" class="icon  icon--rss" role="img" alt="rss"><title>rss</title><use xlink:href="#rss" fill="CurrentColor"></use></svg>
    </a>
    </nav>
  </section>
</aside>
