<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; School de Hofakker 2020</small></br>
      <small class="small">&copy; Fotografie en film door <a href="https://saffloermohaupt.com" rel="nofollow">Saffloer Mohaupt</a></small></br>
    </div>
  </div>
</footer>
