<nav class="nav  nav--header">
	<ul class="list  list--nav">
		<li class="item  item--nav  item--current"><a href="/">Home</a></li>
		<li class="item  item--nav"><a href="/kracht-van-de-hofakker/">Onze Kracht</a></li>
		<li class="item  item--nav"><a href="/leraren/">Onze Leraren</a></li>
		<li class="item  item--nav"><a href="/vacatures/">Vacatures</a></li>
    <%# <li class="item  item--nav"><a href="/nieuws/">Nieuws</a></li> %>
    <%# <li class="item  item--nav"><a href="/zoeken/">Zoeken</a></li> %>
		<%# <li class="item  item--nav"><a href="/contact/">Contact</a></li> %>
	</ul>
</nav>
