<div class="share">
  <a class="button" href="https://twitter.com/intent/tweet/?url=https://schooldehofakker.nl/2020/05/15/informatie-dagen/&text=Informatie%20dagen&via=hofakker" style="background: #77B82A">Twitter&nbsp; <svg width="16" height="16" class="icon  icon--twitter" role="img" alt="twitter"><title>twitter</title><use xlink:href="#twitter" fill="CurrentColor"></use></svg></a>
  <a class="button" href="https://facebook.com/sharer/sharer.php?u=https://schooldehofakker.nl/2020/05/15/informatie-dagen/" style="background: #FBB901">Facebook&nbsp; <svg width="16" height="16" class="icon  icon--facebook" role="img" alt="facebook"><title>facebook</title><use xlink:href="#facebook" fill="CurrentColor"></use></svg></a>
  <a class="button" href="mailto:?subject=Informatie dagen&body=Hey, check out this: https://schooldehofakker.nl/2020/05/15/informatie-dagen/" style="background: #9A6836">Email&nbsp; <svg width="16" height="16" class="icon  icon--email" role="img" alt="email"><title>email</title><use xlink:href="#email" fill="CurrentColor"></use></svg></a>
</div>
