<p>Hallo <%= @resource.email %>!</p>

<p>Iemand heeft de link aangeklikt om je wachtwoord te resetten. Dit kan via onderstaande link.</p>

<p><%= link_to 'Verander mijn wachtwoord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Mocht jij dit verzoek niet zelf gedaan hebben, negeer dan dit bericht.</p>
<p>Je wachtwoord veranderd pas als je de link bezocht hebt en een nieuwe hebt aangemaakt.</p>
